# submod2
alchemy-logging>=1.0.3
# nested.submod3
PyYaml>=6.0
# Testing
pytest>=6.2.5
pytest-asyncio>=0.16.0
pytest-cov>=3.0.0
pytest-xdist>=2.5.0
# This is only used to validate the funky google namespace corner case
protobuf==4.25.8
